
.upperBody {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.upperBody img {
    width: 300px;
    border-radius: 10px;
}

.info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}

.info .text {
    text-align: center;
}

.hours {
    /* border: 2px solid black;
    border-radius: 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    row-gap: 5px;
}

.hours .hoursHeader,
.location .locationHeader {
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

.info .location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

