.drinks,
.breakfast,
.lunch {
    display: flex;
    flex-direction: column;
}

.drinks .header,
.breakfast .header,
.lunch .header {
    font-style: italic;
    font-weight: bolder;
    font-size: larger;
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 10px;
}

.drinks img {
    width: 50px;
}

.breakfast img {
    width: 150px;
}

.lunch img {
    width: 100px;
}


.drinks .items,
.breakfast .items,
.lunch .items {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.drinks .items .item,
.breakfast .items .item,
.lunch .items .item {
    display: flex;
    justify-content: space-between;
}

.items .item .dName,
.items .item .name {
    font-weight: bold;
}

.left {
    width: 700px;
}

.breakfast,
.lunch {
    margin-top: 20px;
}