body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#content {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.content {
    padding: 20px 40px;
    border: 2px solid rgb(192, 192, 192);
}

.header {
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 40px;
    padding: 20px;
    margin: 20px 0;
}

.navbar {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.navbar .tab {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #CCC;
    background-color: #DDD;
}
.navbar .tab:active {
    /* transform: scale(1.2); */
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}